.home-page {
  padding: 20px;
}
.doctor-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.search-input {
  padding: 8px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  font-size: 16px;
}
